@model deadinside.Models.playeritem

@{
    ViewBag.Title = "Index";
    int counter = 0;
    int counter2 = 0;
}

<h2>Everyones Inventories</h2>

<table class="table">
    <tr>
        <th>
            <strong>Player Name</strong>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemid)
        </th>
        <th>
            <strong>Item Count</strong>
        </th>
        <th>
            <strong>Item Name</strong>
        </th>
        <th>
            <strong>Item Description</strong>
        </th>
        <th>
            <strong>Item Value</strong>
        </th>
        <th>
            <strong>Image</strong>
        </th>
        <th></th>
    </tr>
@foreach (var player in Model.playerList)
 {
     var playersItemsInfo = Model.playeritems.Where(x => x.playerid == player.id).ToList(); // gets me items id, playerid, count

     foreach (var info in playersItemsInfo)
     {
         var playerItemsName = Model.items.Where(x => x.id == info.itemid && player.id == info.playerid).ToList(); // gets me iname, idesc
         //pid
         <td>@Html.DisplayFor(modelItem => player.playername)</td>

        <td>@Html.DisplayFor(modelItem => info.playerid)</td>
         //itemid
        <td>@Html.DisplayFor(modelItem => info.itemid)</td>
         //cnt
        <td>@Html.DisplayFor(modelItem => info.count)</td>

        foreach (var item in playerItemsName)
        {
            var itemURL = item.itemURL;
            //itemname
            <td>@Html.DisplayFor(modelItem => item.itemname)</td>
            //idesc
            <td>@Html.DisplayFor(modelItem => item.itemdesc)</td>
            <td>@Html.DisplayFor(modelItem => item.itemValue)</td>
            //img
            <td><img src="@itemURL" height="100" width="100"/></td>
         }
<tr></tr>
     }
 }
</table>